<!doctype html>
{%extends 'digital/base.html'%}
{%block base%}
	<a href="/"><button class="back">back</button></a>
	<hr>
	<div id="graph">
	<div class="gauge">
	<div class="gauge__body">
    <div class="gauge__fill"></div>
    <div class="gauge__cover"></div>
  </div>
</div>
</div>
<script>
var number = {{attendence}}/100;
	const gaugeElement = document.querySelector(".gauge");
	function setGaugeValue(gauge, value) {
		if (value < 0 || value > 1) {
			return;
		}
	gauge.querySelector(".gauge__fill").style.transform = `rotate(${value / 2}turn)`;
	gauge.querySelector(".gauge__cover").textContent = `${Math.round(value * 100)}%`;
	}
	setGaugeValue(gaugeElement,number);
	</script>
{%endblock%}