<!doctype html>
{%extends 'digital/base.html'%}
{%block base%}
	<a href="/"><button class="back">back</button></a>
	<hr>
	<div id="oupdf">
		  <form method='get' action='/previous-papers-search'>
		    <input type="text" placeholder="Enter subject or year" name='query' id='query' style="border-radius:10px;">
			<button type="submit" style="border-radius:30px;">Search</button>
		  </form>
		<br>
		<div class="row">
			<div class="column">
				{%for paper in papers%}
					<img src="{{paper.image.url}}" height="150" width="auto" class="images"> <br><a href="{{paper.get_absolute_url}}">{{paper.desc}}</a><br><br>
				{%endfor%}
			</div>
		</div>
	</div>
{%endblock%}